<h2>Blog Posts</h2>

<ul class="collection">
  <%= for blog_post <- @blog_posts do %>
    <li class="collection-item">
      <%= link blog_post.title, to: blog_path(@conn, :show, blog_post) %> 
    </li>
  <% end %>
</ul>

