{lib_dirs,["/home/tk/Workspace/Elixir/Elixir-V2/litHub/_build/dev",
           "/home/tk/.kiex/elixirs/elixir-1.4.1/lib/elixir/bin/../lib/iex/ebin",
           "/home/tk/.kiex/elixirs/elixir-1.4.1/lib/elixir/bin/../lib/mix/ebin",
           "/home/tk/.kiex/elixirs/elixir-1.4.1/lib/elixir/bin/../lib/eex/ebin",
           "/home/tk/.kiex/elixirs/elixir-1.4.1/lib/elixir/bin/../lib/logger/ebin",
           "/home/tk/.kiex/elixirs/elixir-1.4.1/lib/elixir/bin/../lib/elixir/ebin",
           "/home/tk/.kiex/elixirs/elixir-1.4.1/lib/elixir/bin/../lib/ex_unit/ebin"]}.

{release,{litHub,"0.0.1"},[{litHub,"0.0.1"},elixir,iex,sasl]}.

{include_erts,true}.

{include_src,false}.

{extended_start_script,true}.

{generate_start_script,false}.

{overlay,[{mkdir,"releases/0.0.1"},
          {copy,"./sys.config","releases/0.0.1/sys.config"},
          {copy,"./boot","bin/litHub"},
          {copy,"./boot.bat","bin/litHub.bat"},
          {copy,"/home/tk/Workspace/Elixir/Elixir-V2/litHub/_build/dev/consolidated",
                "lib/consolidated"}]}.

